<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/PreussenKaiser/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="PreussenKaiser" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>
